<div class="container">
    <ul class="list">
        <li class="list-item">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label>Complete online Javascript course</label>
            </div>
            <div class="btn-todo">
                <mat-icon class="action">close</mat-icon>
            </div>
        </li>
        <li class="list-item">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label>Complete online Javascript course</label>
            </div>
            <div class="btn-todo">
                <mat-icon class="action">close</mat-icon>
            </div>
        </li>
        <li class="list-item">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label>Complete online Javascript course</label>
            </div>
            <div class="btn-todo">
                <mat-icon class="action">close</mat-icon>
            </div>
        </li>

        <app-data-items/>
    </ul>
</div>
