@import '../../../styles/variables.scss';

:host {
    display: block;
    width: 100%;
    
    .container {
        width: 100%;

        .list {
            position: relative;
            top: -40px;
            margin: 0 auto;
            width: 600px;
            border-radius: 10px;
            background-color: $color-white;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
            z-index: 4;
            
            .list-item {
                padding: 15px 30px;
                width: 100%;
                border-bottom: 1px solid #d4d4d4;
                color: $color-black;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                &:hover {
                    .btn-todo {
                      opacity: 1;
                      visibility: visible;
                    }
                }

                .checkbox-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    user-select: none;
                    margin: 10px 0;
                    font-size: 1.1rem;

                    input {
                        appearance: none;
                        background-color: transparent;
                        padding: 10px;
                        border-radius: 50%;
                        border: 2px solid $dark-grey;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        transition: all .3s;

                        &:checked {
                            background-color: $main-color;
                            border-color: $main-color;
                            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjZThlYWVkIj48cGF0aCBkPSJNMzgyLTI0MCAxNTQtNDY4bDU3LTU3IDE3MSAxNzEgMzY3LTM2NyA1NyA1Ny00MjQgNDI0WiIvPjwvc3ZnPg==');
                            background-position: center;
                            background-repeat: no-repeat;

                            & + label {
                                text-decoration: line-through;
                                color: $dark-grey;
                            }
                        }
                    }
                }

                .btn-todo {
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;
                    

                    &:hover {
                        transform: rotate(-180deg);
                    }

                    .action {
                        font-size: 2rem;
                        color: $dark-grey;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .container {
            width: 100%;

            .list {
                width: 70%;

                .list-item {
                    padding: 15px 30px;

                    .checkbox-wrapper {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            width: 100%;

            .list {
                width: 100%;
                border-radius: 0px;

                .list-item {
                    .checkbox-wrapper {
                        font-size: .9rem;

                        input {
                            padding: 8px;
                        }
                    }

                    .btn-todo {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}