<div class="container">
    <div class="img-wrapper"></div>
    <div class="content">
        <div class="content-header">
            <h1 class="header-title">Listrama</h1>
        </div>

        <div class="todo-input">
            <input 
                type="text" 
                [(ngModel)]="newTask" 
                placeholder="Create a new todo..."
                (keydown.enter)="addTask()"
            >
            <button class="todo-btn" (click)="addTask()">
                <mat-icon class="todo-icon">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>
