<div class="container">
    <ul class="list">
        <li class="item-list">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label for="">Testando task</label>
            </div>
        </li>
        <li class="item-list">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label for="">Testando task</label>
            </div>
        </li>
        <li class="item-list">
            <div class="checkbox-wrapper">
                <input type="checkbox">
                <label for="">Testando task</label>
            </div>
        </li>
    </ul>
</div>